:root {
  --container-max-width: 600px;
  --el-max-width: 450px;
  --capture-border-width: 3px;
  --capture-border-radius: 6px;
  --video-border-radius: calc(var(--capture-border-radius) / 2);
  --scan-frame-color: rgba(255, 255, 255, 0.9);

  accent-color: var(--accent);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.noscript {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #842029;
  background-color: #f8d7da;
}

[hidden] {
  display: none !important;
}

.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
  text-align: center;
}

h1 {
  margin: 0.75rem 0;
  font-size: 1.6rem;
  font-weight: 300;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.toastContainer {
  width: 100%;
  padding: 0 0.5rem;
  z-index: 1051;
  pointer-events: none;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 0 1rem 0;
  font-size: 0.95rem;
}

.alert button {
  width: 35px;
  min-width: 35px;
  margin: 0;
  padding: 0.15rem;
  background-color: transparent;
  z-index: 2;
  color: inherit;
  font-size: 1.2rem;
  line-height: 1;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border: 1px solid #f5c2c7;
  border-radius: 0.25rem;
}

.toastContainer .alert {
  max-width: 500px;
  margin: 0.5rem auto 1rem auto;
  padding-right: 0;
  pointer-events: all;
}

.fork {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.scan-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(6px);
  font-family: var(--font-family);
  font-size: 0.9rem;
}

.results {
  position: relative;
  margin: 1.5rem 0 0 0;
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: var(--background-alt);
}

@supports selector(:has(a, b)) {
  .results {
    display: none;
  }
}

.results:has(.results__item) {
  display: block;
}

.results__legend {
  text-align: center;
}

.results__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}

.results clipboard-copy button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.15rem;
  position: absolute;
  top: -0.5rem;
  right: 0;
  margin: 0;
  padding: 0.25rem;
  background-color: transparent;
  color: inherit;
  line-height: 1;
  font-size: 0.9rem;
}

.scan-instructions {
  text-align: center;
}

.scan-instructions p {
  max-width: 320px;
  margin: 0 auto;
  font-size: 0.95rem;
}

.scan-frame-container {
  position: relative;
  max-width: var(--el-max-width);
  margin: 0 auto;
}

.scan-frame-container:has(capture-photo[loading]) .scan-frame {
  display: none;
}

.scan-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  pointer-events: none;
}

.scan-frame svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

select[name="scanMethod"] {
  width: 100%;
  margin: 0 0 1.5rem 0;
}

input[type="file"]::-webkit-file-upload-button {
  color: var(--background);
  background-color: var(--accent);
  border: 0;
  border-radius: 0.25rem;
  padding-inline: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1.6;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

input[type="file"]:disabled::-webkit-file-upload-button {
  cursor: not-allowed;
}

#fileInput {
  width: 100%;
  box-sizing: border-box;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  max-width: var(--el-max-width);
  margin: 0 auto;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--border);
  border-radius: 6px;
  max-width: var(--el-max-width);
  margin: 0 auto;
  padding: 1rem;
  min-height: 250px;
  text-align: center;
  overflow: hidden;
  background-color: var(--background-alt);
  cursor: pointer;
  color: var(--text-muted);
  transition: border 0.2s ease-in-out;
}

.dropzone--dragover {
  border-color: var(--accent);
}

.dropzone img {
  max-width: 200px;
}

.dropzone img~span {
  display: none;
}

.dropzone > * {
  pointer-events: none !important;
}

.dropzone span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

body > footer {
  margin-top: 1.5rem;
  text-align: center;
}

.supported-formats:empty {
  display: none;
}

.supported-formats {
  max-width: 400px;
  padding: 0 0.75rem;
  font-size: 0.75rem;
  color: var(--text-muted);
}

capture-photo {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 250px;
  margin: 0 auto 1.5rem auto;
  overflow: hidden;
  border: var(--capture-border-width) solid var(--border);
  border-radius: var(--capture-border-radius);
  background-color: var(--background-alt);
}

capture-photo::part(video) {
  width: 100%;
  height: calc(100% - 10px);
  border-radius: var(--video-border-radius);
}

capture-photo[loading]::part(video) {
  background-image: url(../assets/icons/spinner-dark.svg);
  background-size: 60px;
  background-position: center center;
  background-repeat: no-repeat;
}

capture-photo::part(facing-mode-button) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0.25rem;
  left: 0.25rem;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  border-radius: var(--video-border-radius);
  background-color: var(--background);
  color: var(--text-main);
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  transition: background-color 0.15s ease-in-out;
}

.zoom-controls {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  display: flex;
}

.zoom-controls button,
.zoom-controls label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 0;
  background-color: var(--background);
  color: var(--text-main);
}

.zoom-controls button[data-action="zoom-in"] {
  border-top-right-radius: var(--video-border-radius);
  border-bottom-right-radius: var(--video-border-radius);
}

.zoom-controls button[data-action="zoom-out"] {
  border-top-left-radius: var(--video-border-radius);
  border-bottom-left-radius: var(--video-border-radius);
}

.zoom-controls label {
  width: 20px;
  font-size: 0.7rem;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.settings-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  background-color: transparent !important;
  color: var(--text-main);
  line-height: 1;
  padding: 8px;
  margin: 0;
}

.settings-dialog {
  position: absolute;
  top: 16px;
  right: 16px;
  left: auto;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.settings-dialog > header:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
}

.settings-dialog > header:first-child button {
  padding: 0.25rem;
  margin: 0;
  background-color: transparent !important;
  line-height: 1;
  color: var(--text-main);
}

.settings-dialog ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.settings-dialog ul li {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--text-main);
  text-decoration: none;
  border-bottom: 1px solid var(--border);
}

.settings-dialog ul li input[type="checkbox"] {
  min-width: 16px;
  margin: 0.15rem 0.5rem 0 0;
}

.settings-dialog ul li label {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0.75rem;
  cursor: pointer;
}

.settings-dialog fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.settings-dialog fieldset legend {
  padding: 0.5rem 0.75rem 0 0.75rem;
  font-weight: 500;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@media (prefers-color-scheme: dark) {
  capture-photo[loading]::part(video) {
    background-image: url(../assets/icons/spinner-light.svg);
  }

  .dropzone {
    background-color: #1a1c1e;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .scan-instructions p {
    max-width: none;
  }

  capture-photo {
    max-width: var(--el-max-width);
  }
}

@media (min-height: 700px) {
  header {
    margin: 3rem 0;
  }
}
