:root {
  /* Font variables */
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;

  /* Color variables */
  --accent-h: 217.75deg;
  --accent-s: 98.36%;
  --accent-l: 52.16%;
  --accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --background-body: #ffffff;
  --background-alt: #f7f7f7;
  --background: #efefef;
  --text-main: #363636;
  --text-muted: #70777f;
  --links: var(--accent);
  --focus: var(--accent);
  --border: #b9b8b8;
  --error-color: #dc3545;
  --success-color: #28a745;
  --dialog-background: #ffffff;
  --scan-frame-color: rgba(255, 255, 255, 0.9);
  --dropzone-background: var(--background-alt);
  --dropzone-background-dragover: var(--background);
  --dropzone-background-hover: var(--background);
  --empty-history-button-color: #ffffff;

  /* Other variables */
  --body-max-width: 75rem;
  --border-radius: 6px;
  --animation-duration: 0.1s;
  --container-max-width: 37.5rem;
  --capture-border-width: 3px;
  --video-border-radius: calc(var(--border-radius) / 2);

  accent-color: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-h: 206;
    --accent-s: 100%;
    --accent-l: 73%;
    --background-body: #212529;
    --background-alt: #343a40;
    --background: var(--background-alt);
    --text-main: #dbdbdb;
    --text-muted: #a9b1ba;
    --links: var(--accent);
    --focus: var(--accent);
    --border: #495057;
    --error-color: #ff808d;
    --success-color: #75b798;
    --dialog-background: var(--background-alt);
    --dropzone-background: #1a1c1e;
    --dropzone-background-dragover: #161718;
    --dropzone-background-hover: #161718;
    --empty-history-button-color: #000000;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  line-height: 1.4;
  max-width: var(--body-max-width);
  padding: 0 0.75rem;
  margin: 1.25rem auto;
  word-wrap: break-word;
  color: var(--text-main);
  background: var(--background-body);
  text-rendering: optimizeLegibility;
}

body:has(.popover-dialog[open]) {
  overflow-y: hidden;
}

[hidden] {
  display: none !important;
}

a {
  text-decoration: none;
  color: var(--links);
}

a:hover {
  text-decoration: underline;
}

a > code,
a > strong {
  color: inherit;
}

a,
button,
input,
custom-clipboard-copy::part(button) {
  outline-color: var(--accent);
}

button {
  color: var(--text-main);
  font-family: inherit;
  font-size: inherit;
  padding: 0.625rem;
  border: none;
  border-radius: var(--border-radius);
}

button:not(:disabled) {
  cursor: pointer;
}

input[type='checkbox'] {
  min-width: 1rem;
  width: 1rem;
  height: 1rem;
}

input[type="checkbox"]:not(:disabled) {
  cursor: pointer;
}

kbd {
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: 2px;
  color: var(--text-main);
  padding: 0.125rem 0.25rem;
}

img,
video {
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  border-top: 1px solid var(--border);
}

h1 {
  margin: 0.75rem 0;
  font-size: 1.6rem;
  font-weight: 300;
}

dialog {
  background-color: var(--dialog-background);
  color: var(--text-main);
  border: none;
  border-radius: var(--border-radius);
  border-color: var(--border);
  padding: 10px 30px;
}

dialog::backdrop {
  background: #0000009c;
  backdrop-filter: blur(4px);
}

.noscript {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #842029;
  background-color: #f8d7da;
}

.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
  text-align: center;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 0 1rem 0;
  font-size: 0.95rem;
}

.alert button {
  width: 35px;
  min-width: 35px;
  margin: 0;
  padding: 0.15rem;
  background-color: transparent;
  z-index: 2;
  color: inherit;
  font-size: 1.2rem;
  line-height: 1;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border: 1px solid #f5c2c7;
  border-radius: 0.25rem;
}

.source-code {
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
}

.scan-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(6px);
  font-family: var(--font-family);
  font-size: 0.9375rem;
  text-wrap: balance;
  line-height: 1.5;
  outline-offset: -2px;
}

.scan-button kbd {
  font-size: 0.8rem;
}

.results {
  position: relative;
  width: 100%;
  border: 1px solid var(--focus);
  border-radius: 6px;
  margin: 1.5rem 0 0 0;
  padding: 1rem;
  background-color: var(--background-alt);
}

.results__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}

.results__item--no-barcode {
  color: var(--error-color);
}

.results__actions {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.results web-share button,
.results custom-clipboard-copy::part(button) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  margin: 0.75rem 0 0 0;
  padding: 0.25rem;
  background-color: transparent;
  border: 0;
  border-radius: var(--border-radius);
  color: inherit;
  line-height: 1;
  font-family: inherit;
  font-size: 0.9rem;
  cursor: pointer;
}

.scan-instructions {
  font-size: 0.95rem;
  text-align: center;
  text-wrap: balance;
}

.scan-frame-container {
  position: relative;
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.scan-frame-container:has(capture-photo[loading]) .scan-frame {
  display: none;
}

.scan-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  pointer-events: none;
}

.scan-frame svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

select[name="scanMethod"] {
  width: 100%;
  margin: 0 0 1.5rem 0;
}

input[type="file"]::-webkit-file-upload-button {
  color: var(--background);
  background-color: var(--accent);
  border: 0;
  border-radius: 0.25rem;
  padding-inline: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1.6;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

input[type="file"]:disabled::-webkit-file-upload-button {
  cursor: not-allowed;
}

.dropzone {
  --dropzone-focus-box-shadow: inset 0 0 0 2px var(--focus);
  --dropzone-transition-duration: var(--animation-duration);
  --dropzone-border-color: var(--border);
  --dropzone-border-color-dragover: var(--accent);
  --dropzone-border-color-hover: var(--accent);
  --dropzone-background-color: var(--dropzone-background);
  --dropzone-background-color-dragover: var(--dropzone-background-dragover);
  --dropzone-background-color-hover: var(--dropzone-background-hover);
  --dropzone-body-color: var(--text-main);
}

.dropzone::part(dropzone) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-height: 15.625rem;
  border-radius: var(--border-radius);
}

.dropzone-preview {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dropzone-preview__image-wrapper {
  max-width: 200px;
  margin: 0 auto;
}

.dropzone-preview__file-name {
  font-size: 0.9rem;
  color: var(--text-main);
}

.dropzone-instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

body > footer {
  margin-top: 1.5rem;
  border-top: 1px solid var(--border);
  padding-top: 10px;
  color: var(--text-muted);
  text-align: center;
}

.supported-formats:empty {
  display: none;
}

.supported-formats {
  max-width: var(--container-max-width);
  margin: 1rem auto 0 auto;
  text-align: center;
  padding: 0 0.75rem;
  font-size: 0.75rem;
  color: var(--text-muted);
}

capture-photo {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto 1.5rem auto;
  overflow: hidden;
  border: var(--capture-border-width) solid var(--border);
  border-radius: var(--border-radius);
  background-color: #000000;
}

capture-photo::part(video) {
  width: 100%;
  height: calc(100% - 10px);
  border-radius: var(--video-border-radius);
  background-color: #000000;
}

capture-photo[loading]::part(video) {
  background-image: url(../assets/icons/spinner-light.svg);
  background-size: 3.75rem;
  background-position: center center;
  background-repeat: no-repeat;
}

capture-photo::part(facing-mode-button) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0.25rem;
  left: 0.25rem;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  border: 0;
  border-radius: var(--video-border-radius);
  background-color: var(--background);
  color: var(--text-main);
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  transition: background-color 0.15s ease-in-out;
  font-size: 1rem;
}

.zoom-controls {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  display: flex;
}

.zoom-controls button,
.zoom-controls label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 2.25rem;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  border-radius: 0;
  background-color: var(--background);
  color: var(--text-main);
}

.zoom-controls button[data-action="zoom-in"] {
  border-top-right-radius: var(--video-border-radius);
  border-bottom-right-radius: var(--video-border-radius);
}

.zoom-controls button[data-action="zoom-out"] {
  border-top-left-radius: var(--video-border-radius);
  border-bottom-left-radius: var(--video-border-radius);
}

.zoom-controls label {
  width: 1.5625rem;
  font-size: 0.9rem;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.global-actions {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.global-actions button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.35rem;
  padding: 0;
  background-color: transparent !important;
  color: var(--text-main);
  line-height: 1;
  padding: 8px;
  margin: 0;
  font-size: 0.9rem;
}

.global-actions button span {
  display: none;
}

.popover-dialog > header:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
}

.popover-dialog > header:first-child button {
  padding: 0.25rem;
  margin: 0;
  background-color: transparent !important;
  line-height: 1;
  color: var(--text-main);
}

.popover-dialog {
  position: absolute;
  top: 1rem;
  right: 1rem;
  left: auto;
  padding: 0;
  margin: 0;
}

.popover-dialog :not(header) {
  font-size: 0.9rem;
}

.popover-dialog ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popover-dialog ul li {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--text-main);
  text-decoration: none;
  border-bottom: 1px solid var(--border);
}

.popover-dialog ul li:last-child {
  border-bottom: 0;
}

/* Modal animations */
@media (prefers-reduced-motion: no-preference) {
  .popover-dialog::backdrop {
    opacity: 0;
  }

  .popover-dialog[open]::backdrop {
    opacity: 1;
  }

  .popover-dialog,
  .popover-dialog::backdrop {
    transition: transform 0.3s, opacity 0.3s, display 0.3s allow-discrete, overlay 0.3s allow-discrete;
  }

  /* 1. IS-OPEN STATE */
  .popover-dialog[open] {
    transform: translateY(0);
    opacity: 1;
  }

  /* 2. EXIT STATE */
  .popover-dialog {
    transform: translateY(-16px);
    opacity: 0;
  }

  /* 0. BEFORE-OPEN STATE */
  @starting-style {
    .popover-dialog[open] {
      transform: translateY(-16px);
      opacity: 0;
    }

    .popover-dialog[open]::backdrop {
      opacity: 0;
    }
  }
}

.popover-dialog--history ul {
  max-width: 500px;
}

.popover-dialog--history ul li {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.75rem;
  word-break: break-all;
}

.history-modal__actions {
  display: flex;
  gap: 0.25rem;
}

.history-modal__actions button,
.history-modal__actions custom-clipboard-copy::part(button) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin: 0;
  border: 0;
  border-radius: var(--border-radius);
  background-color: transparent !important;
  line-height: 1;
  font-size: 1rem;
  color: var(--text-main);
  cursor: pointer;
}

.history-modal__actions custom-clipboard-copy::part(button--success) {
  color: var(--success-color);
}

.history-modal__actions .history-modal__delete-action {
  color: var(--error-color);
  margin-right: -0.5rem;
}

.popover-dialog--settings ul li input[type="checkbox"] {
  margin: 0.15rem 0.5rem 0 0;
}

.popover-dialog--settings ul li label {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0.75rem;
  cursor: pointer;
}

.popover-dialog--settings fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.popover-dialog--settings fieldset legend {
  padding: 0.5rem 0.75rem 0 0.75rem;
  font-weight: 500;
}

.empty-history-button {
  width: calc(100% - 1.5rem);
  margin: 0.75rem 0 0.75rem 0.75rem;
  background-color: var(--error-color) !important;
  color: var(--empty-history-button-color);
}

/* Tab group */
a-tab-group:not(:defined) {
  display: none;
}

a-tab-group::part(tabs) {
  border-radius: var(--border-radius);
  padding: 0;
}

a-tab {
  display: flex;
  flex: 1;
}

a-tab::part(base) {
  flex: 1;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  background-color: var(--background);
  transition: background-color var(--animation-duration) ease-in-out, color var(--animation-duration) ease-in-out;
}

a-tab:focus-visible::part(base) {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--focus);
}

a-tab[selected]::part(base) {
  background-color: var(--accent);
  color: var(--background-body);
}

/* Utils */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.text-underline {
  text-decoration: underline !important;
}

/* Media queries */
@media (min-width: 37.5rem) {
  h1 {
    font-size: 2rem;
  }

  .scan-instructions p {
    max-width: none;
  }

  capture-photo {
    max-width: var(--container-max-width);
  }

  .global-actions button span {
    display: inline;
  }
}

@media (min-height: 43.75rem) {
  header {
    margin: 3rem 0;
  }
}

@media screen and (max-width: 20rem) {
  a-tab span {
    font-size: 0.9rem;
  }

  a-tab svg {
    display: none;
  }
}
